.banner-6 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 100px;
  flex-wrap: wrap;
  padding-bottom: 100px;
  width: 1362px;
}

.banner-66 {
  padding-bottom: 0;
}

/* .banner-6 .title3  {
  width: 70%;
  text-align: left;
} */
.banner-6 .title3 a {
  color: #c9c9c9;
  text-decoration: none;
}

.user-list-box {
  display: flex;
  margin-left: 100px;
  margin-bottom: 90px;
}

.user-list-box .img-left {
  min-width: 233px;
}

.user-list-box .user-center {
  margin: 0 60px;
  min-width: 250px;
  font-size: 18px;
  text-align: left;
  font-family: none;
}

.user-list-box .user-center p {
  margin-bottom: 20px;
}

.title3{
  margin: 70px 200px 0;
  text-align: center;
}

.ss-1 {
  font-size: 30px;
}

.ss-2 {
  font-size: 18px;
  color: #cba28a;
}

.content-right {
  color: #c6c6c6;
  font-size: 16px;

}

.content-right p {
  margin-bottom: 5px;
  font-family: none;
}

.banner-6 .news-list {
  width: 1557px;
  margin: 0 auto;
  padding: 80px 160px 0;
  display: flex;
  flex-wrap: wrap;
}
.banner-6 .news-list p{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#aboutus p{
  margin-bottom: 30px;
}