body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
    *:not(input,textarea) { 
      -webkit-touch-callout: none; 
      -webkit-user-select: none; 
  }

div {
  box-sizing: border-box;
}

@font-face {
  font-family: DINAlternate;
  src: '../font/SourceHanSansCN-Normal.otf';
} 


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select:auto;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: DINAlternate;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
textarea {
  outline: none; 
  border-radius: 0;
  background: none;
  border: 0px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,
ul,
li {
  list-style: none;
}